.header {
	transition: .2s ease-in-out;
	width: 100%;

	z-index: 10;
}

.header .navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 30%;
	margin: 0 auto;
	margin-top: 5rem;
	z-index: 9999;
}

.navigation.open .logo img {
	/* filter: invert(1); */
	transition: .3s ease-in-out;
}

.first {
	flex: 33%;
}

.second {
	flex: 33%;
	display: flex;
	justify-content: flex-end;
}

.header nav ul {
	flex: 33%;
	position: relative;
}

.background {
	background-color: #ECECEC;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	border-radius: 1.5rem;
	top: 0;
	transition: .3s ease-out;
}

.logo {
	display: block;
	position: relative;
	width: max-content;
	transition: .1s ease-in-out;
	height: 8rem;
	width: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ececec;
	border-radius: 1.5rem;
}

.logo img {
	transition: filter .2s ease-in-out;
	width: 65%;
}

.logoNeg {
	/* filter: invert(); */
}

.logo2 {
	position: absolute;
	right: 12px;
	top: 12px;
	width: 20% !important;
}

.header > div {
	flex: 0 0 30%;
	width: max-content;
	display: flex;
}

.header .menu {
	display: flex;
	padding: 3rem 5rem;
	justify-content: center;
	position: relative;
}

.header ul li {
	/* padding: 0 2rem; */
	transition: padding .5s ease-in-out;
	width: max-content;
}

.navItem {
	padding: 0 2rem;
	display: flex;
	min-width: 12.5rem;
	justify-content: center;
}

.navItemWrapper {
	display: flex;
}

.navItemWrapperDelay {
	transition: .2s ease-in-out;
	transition-delay: .1s;
}

.header ul li a div {
}

.liDeactivate {

}

.liDeactivate a {
}

.liActive a {
}

.contact {
	background-color: #111111;
	padding: 1.5rem 3rem;
	color: white;
	margin-left: auto;
	transition: .1s ease-in-out;
	border-radius: 1rem;
	display: flex;
}

.contactList img {
	margin-left: -2rem;
	object-fit: contain;
	filter: invert(1);
}

.contact img {
	margin-left: 1rem;
	object-fit: contain;
}

.contactButton {
	width: 100%;
	height: 100%;
	display: block;
}

/* .liActive {
	opacity: 1;
	width: 100%;
	padding: 0 2rem;
} */

.hamburger {
	display: none;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.hamburger div {
	position: relative;
	display: flex;
	align-items: center;
	width: 50px;
	height: 27px;

}

.hamburger span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #111111;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
	top: 0px;
	-webkit-transition: .1s ease-in-out;
	-moz-transition: .1s ease-in-out;
	-o-transition: .1s ease-in-out;
	transition: .1s ease-in-out;

}

.hamburger span:nth-child(2),.hamburger span:nth-child(3) {
	top: 12px;
}

.hamburger span:nth-child(4) {
	top: 24px;

	-webkit-transition: .10s ease-in-out;
	-moz-transition: .10s ease-in-out;
	-o-transition: .10s ease-in-out;
	transition: .10s ease-in-out;

}

/* .hamburger.open span:nth-child(1) {
	top: 0px;
	opacity: 0;
	background: white;
}

.hamburger.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background: white;
}

.hamburger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: white;
}

.hamburger.open span:nth-child(4) {
	opacity: 0;
	background: white;
} */

.hamburger.neg span {
	background: white;
}

.hamburgerClose {
	color: white;
}

.mobileNav.open {
	opacity: 1;
	pointer-events: all;
}

.mobileNav {
	background: #111111;
	opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9998;
	pointer-events: none;
	transition: .1s ease-in-out;
	color: #676767;
	display: flex;
}

.mobileNav ul {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding-left: 13vw;
	width: 100%;
}

.mobileNav ul li {
	font-size: 8rem;
	font-weight: 400;
	width: 100%;
	padding: 0;
	opacity: 0;
}

.mobileNav ul li a {
	display: block;
	width: 100%;
	padding: 5rem 5rem;
	border-radius: 100px 0px 0px 100px;
}

.mobileNav ul li a.active {
	/* background-color: #ECECEC; */
	color: white;
}

.hamburgerClose {
	font-size: 2rem;
}

@media screen and (max-width: 768px) {
	.mobileNav ul li a {
		padding: 3rem 5rem;
	}

	.mobileNav ul li {
		font-size: 10vw;
	}
}


@media screen and (max-width: 1024px) {
	.contact {
		display: none;
	}

	.header .menu {
		display: none;
	}

	.hamburger {
		display: flex;
		/* margin-top: 1rem; */
	}

	.second{
		 display: none;
	}

	.header .navigation {
		height: 5rem;
	}
}
