.wrapper {
	padding-top: 200px;
	padding-bottom: 150px;
}

.textImage {
	display: flex;
	flex-flow: column;
	margin-top: 8rem;
}

.textImageCopy {
	display: flex;
	flex-flow: column;
	width: 100%;
	padding-right: 0rem;
}

.textImageCopy h2 {
	margin-bottom: 3rem;
}

.webLink {
	margin-top: 2rem;
	color: #a8a8a8;
}

.textImageImage {
	margin-top: 4rem;
	width: 100%;
	height: 40rem;
	border-radius: 50px;
}

.textImageMirror .textImageCopy {
	padding-right: 0;
	padding-left: 0;
}

.headingimage {
	width: 100%;
	height: 500px;
	object-fit: cover;
	border-radius: 100px 0px 50px 0px;
}

.headingimageWrapper {
	margin-top: 70px;
}

.headingText h2 {
	margin-bottom: 23px;
}

.slideshowWrapper {
	margin-top: 7rem;
}

.slideshowGrabber {
	margin-top: 9rem;
	position: relative;
	height: 40rem;
}

.slideshowWrapper {
	margin-top: 7rem;
}

.slideshowCopy {
	width: 80%;
	/* margin-top: 20rem; */

}

@media screen and (min-width: 1024px) {
	.wrapper {
		padding-top: 285px;
		padding-bottom: 285px;
	}

	.headingimage {
		border-radius: 300px 50px 50px 0px;
	}

	.textImage {
		margin-top: 20rem;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
	}

	.textImageCopy {
		padding-right: 7rem;
		margin-top: 10rem;
		width: 50%;
	}

	.textImageCopy h2 {
		margin-bottom: 0rem;
	}

	.textImageP {
		margin-top: 5rem;
	}

	/* .textImageImage {
		width: 45%;
		height: 50rem;
	}

	.textImageImageWrapper {
		width: 45%;
		height: 50rem;
	} */

	.textImageMirror {
		flex-direction: row-reverse;
	}

	.textImageMirror .textImageCopy {
		padding-right: 0;
		padding-left: 7rem;
	}

	.slideshowGrabber {
		margin-top: 9rem;
		position: relative;
		height: 80rem;
		transform: scale(1.05);
	}

	.slideshowWrapper {
		margin-top: 20rem;
	}
}


@media screen and (min-width: 1024px) {
	.textImageImage {
		width: 45%;
		height: 50rem;
	}
}

/* .slideshowItem {
	position: absolute;
	height: 100%;
	transition: .3s ease-in-out;

	&:hover {
		cursor: pointer;
	}
}



.slideshowImage {
	width: 100%;
	max-height: 80rem;
	border-radius: 50px;
	object-fit: cover;
	height: 800px;
} */

.text {
}

