.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h1 {
	font-size: 8rem;
	line-height: normal;

	&strong {
		font-weight: bold;
	}
}

h2 {
	font-size: 6rem;
	line-height: normal;

	&strong {
		font-weight: bold;
	}
}

h3 {
	font-size: 4rem;
	line-height: normal;

	&strong {
		font-weight: bold;
	}
}

h4 {
	line-height: normal;
}

img {
	object-fit: cover;
}

.button {
	position: relative;
	width: max-content;
	padding: 20px 10px;
	margin-right: 20px;

	&::before {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -20px;
		content: '';
		width: 8px;
		height: 8px;
		background: black;
		transition: .2s cubic-bezier(0.42, 0, 0.83, 0.59);
		z-index: -1;
	}
}

.button:hover {
	&::before {
		width: calc(100% + 8px);
		height: 10px;
		background: #ECECEC;
		transition-delay: background .2s;
	}
}

.container {
	margin: auto;
	padding: 0 2rem;

}

@media screen and (min-width: 640px) {
	.container {
		max-width: 600px;
		padding: 0 5rem;
	}
}

@media screen and (min-width: 700px) {
	.container {
		max-width: 650px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 700px;
	}
}

@media screen and (min-width: 850px) {
	.container {
		max-width: 800px;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		max-width: 1000px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1100px;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		max-width: 1200px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1400px;
	}
}

@media screen and (min-width: 1550px) {
	.container {
		max-width: 1500px;
	}
}

@media screen and (min-width: 1700px) {
	.container {
		max-width: 1660px;
	}
}

.head-visible {
	opacity: 1;
}

.head-hidden {
	opacity: 0;
}

.cursor {
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    pointer-events:none;
	z-index: 9997;
}

.cursor-in {
  height: 0px;
  width: 0px;
  border-radius: 50%;
	background-color: white;
	transition: .1s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cursor-large .cursor-in {
	transition: .3s ease-in-out;
	height: 150px;
	width: 150px;
}

.cursors .cursor:nth-child(1) {
    background-color: #3a26fd;
    z-index: 100002;
}
.cursors .cursor:nth-child(2) {
    background-color: #f3f3f3;
    z-index: 100001;
    height: 9px;
    width: 9px;
}

.react-slideshow-container .default-nav {
	height: 100%;
	border-radius: 0;
	width: 50% !important;
	background-color: transparent;
	background: transparent;
	opacity: 0;
}

.react-slideshow-container .default-nav:hover {
	background: transparent;
}

.react-slideshow-container svg {
	display: none;
}

.react-slideshow-fadezoom-wrapper {
	height: 80rem;
	border-radius: 5rem;
}

@media screen and (max-width: 1025px) {
	.react-slideshow-fadezoom-wrapper {
		height: 40rem;
	}

	.head-hidden {
		opacity: 1;
	}
}

.react-slideshow-fadezoom-wrapper div {
	height: 100%;
}

.react-slideshow-fadezoom-wrapper img {
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 425px) {
	h1 {

	}

	h2 {
		font-size: 4rem;
	}

	.head-hidden {
		opacity: 1;
	}
}
